#header
  background: url("../img/pic5.jpg") no-repeat
  background-size: cover
  height: 750px
  color: white
  text-align: center
  overflow: hidden

  img
    max-width: 1000px
    width: 100%


  article
    width: 80%
    margin: 0 auto

  h1
    font-family: Nunito
    font-weight: normal
    color: white
    margin-top: 200px
    margin-bottom: 10px
  p
    font-family: Nunito
    font-size: 1.5rem

.main-nav
  display: flex
  margin-top: 30px
  padding: 0
  font-family: Nunito
  letter-spacing: 2px

  li
    list-style: none

  a
    color: white
    display: block
    border-radius: 4px
    padding: 15px 50px
    text-decoration: none
    font-weight: 900
    text-transform: uppercase

  li:first-child
    margin-right: auto
    padding: 0 0
    letter-spacing: 0
    a
      padding: 0
      font-family: 'Tulpen One', cursive
      text-transform: lowercase
      font-size: 80px
      line-height: 0.6

a.download
  background: white
  color: #00bdaa
  box-shadow: 0 12px 10px -10px rgba(0,0,0,0.2)
  margin-left: 25px

a.call-to-action
  font-family: Nunito
  background: white
  color: #00bdaa
  box-shadow: 0 12px 10px -10px rgba(0,0,0,0.2)
  border-radius: 4px
  padding: 15px 50px
  text-decoration: none
  font-weight: 900
  text-transform: uppercase
  width: auto



#brands ul
  margin: 0
  padding-top: 40px
  padding-bottom: 40px
  background: white
  display: grid
  grid-template-columns: repeat(4, auto)
  @media only screen and (max-width: 550px)
    grid-template-columns: repeat(2, auto)

  li
    list-style: none
  li
    width: 100%

.hr
    background: #e7e7e7
    height: 1px
    width: 700px
    margin: 0px auto
    float: none


#about
  max-width: 1000px
  margin: auto
  padding-top: 80px
  padding-bottom: 80px
  background: white
  text-align: center
  h1
    font-family: Nunito
    font-weight: 600
    font-size: 30px
  p
    text-align: center
    margin: auto
    max-width: 70%
    font-size: 18px
    line-height: 28px


#features
  background: url("../img/pic9.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  text-align: center
  position: relative
  height: auto
  // &:after
  //   bottom: 0
  //   position: absolute
  //   background: inherit
  //   content: " "
  //   height: 100%
  //   left: 0
  //   right: 0
  //   transform: skewY(-10deg)
  //   transform-origin: 100%
  //   z-index: -1

  h2
    margin-top: 80px
    margin-bottom: 10px
    font-family: chalk
    color: white
  #features-p
    text-align: center
    margin: auto
    max-width: 70%
    font-size: 18px
    line-height: 28px
    color: white
    font-family: 'chalk'

@font-face
  font-family: 'chalk'
  src:  url("../fonts/Berton-Roman-trial.ttf")


.cards
  padding-top: 80px
  padding-bottom: 80px
  display: grid
  grid-template-columns: repeat(4, auto)
  grid-gap: 30px
  @media only screen and (max-width: 550px)
    grid-template-columns: repeat(2, auto)

.feature-card
  background: #F5F5F5
  padding: 30px 40px 10px 40px
  border-radius: 4px
  transition: transform .4s
  h3
    font-family: Nunito
    margin: 10px 0 0

.feature-card:hover
  transform: scale(1.1)

.ask
  border-top: 3px solid #FF525D
  box-shadow: 0 12px 10px -10px rgba(0,0,0,0.2)
.answer
  border-top: 3px solid #7DF5A5
  box-shadow: 0 12px 10px -10px rgba(0,0,0,0.2)
.tutor
  border-top: 3px solid #8AD7F8
  box-shadow: 0 12px 10px -10px rgba(0,0,0,0.2)
.connect
  border-top: 3px solid #FFD05B
  box-shadow: 0 12px 10px -10px rgba(0,0,0,0.2)

#g-features
  background: url("../img/pic9.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  text-align: center
  position: relative
  height: auto
  h2
    margin-top: 80px
    margin-bottom: 10px
    font-family: chalk
    color: white
  p
    text-align: center
    margin: auto
    max-width: 100%
    font-size: 18px
    line-height: 28px
    color: white
    font-family: 'Nunito'

.g-cards
  margin: 0
  padding-top: 10px
  padding-bottom: 40px
  display: grid
  grid-template-columns: repeat(2, auto)
  grid-gap: 30px
  @media only screen and (max-width: 550px)
    grid-template-columns: repeat(2, auto)


.g-feature-card
  margin: 0 50px
  color: white
  padding: 0
  border-radius: 4px
  font-family: Nunito
  h3
    font-family: Nunito
    color: white
    margin-bottom: 0
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||
#sign-up
  padding-left: 100px
  padding-right: 100px
  padding-top: 40px
  padding-bottom: 40px
  background: #00bdaa
  font-family: Nunito
  text-align: center
  label
    color: white
    font-size: 16px

#mc-embedded-subscribe
    margin-top: 10px
    font-family: Nunito
    background: white
    color: #00bdaa
    border-radius: 4px
    padding: 15px 50px
    text-decoration: none
    font-weight: 900
    text-transform: uppercase
    width: auto

.mc-field-group
  padding-top: 10px
  right: auto
.small-meta
  color: white




#footer
  p
  font-family: Nunito
  font-size: 3rem
  margin: 40px
  text-align: center

a.footer-logo
  margin-right: auto
  padding: 0 0
  letter-spacing: 0
  font-family: 'Tulpen One', cursive
  text-transform: lowercase
  font-size: 80px
  text-decoration: none
  color: #00bdaa
  font-weight: 900
  letter-spacing: 0
